body {
     background-image: url(https://hips.hearstapps.com/hmg-prod/images/champagne-beach-espiritu-santo-island-vanuatu-royalty-free-image-1655672510.jpg?crop=1.00xw:0.755xh;0,0.173xh&resize=1200:*);
     background-size: cover;
}

h1 {
    text-align: center;
    text-shadow: black;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-family: Century Gothic;
    font-size: 200px;

}

h2 {
    text-align: center;
    color: blue;
    font-family: Century Gothic;
    margin-bottom: 5cm;
}

button {
    background-color: blue;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
